// Hamburger Button
.hamburger-button {
	position: relative;
	height: 4rem; // in tailwind h-20 20 = 5rem
	width: 4rem;
	border: none;
	border-radius: 9999px; // rounded-full from tailwind css
	background-color: #00000000; // black 0% opacity
}

.hamburger-button:hover {
	background-color: #00000020; // black 20% opacity
}

.hamburger-span {
	position: absolute;
	height: 0.25rem;
	width: 2rem;
	background-color: #000;
}

// transition colors property from tailwind css
.transition-colors {
	transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 150ms;
}
