#page-header {
	padding: 32px 24px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 4rem;
}

#jimmer-brand {
	text-decoration: none;
	color: #000000;
}

#site-navigation {
	ul {
		list-style: none;
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 24px;
	}
	li a {
		text-decoration: none;
		color: #000000;
		padding: 10px 16px;
		border: none;
		border-radius: 9999px;
	}
	li a:hover,
	li a.active {
		background-color: #00000020;
	}
}

.mobile-nav {
	display: none;
}
